.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Dashboard_Dashboard__content__16L_h {
  background: var(--dashboard-background);
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 148rem;
  padding: 0 2rem;
}

.Dashboard_Dashboard__content__16L_h {
  background: var(--dashboard-background);
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 148rem;
  padding: 0 2rem;
}

.Dashboard_Dashboard__contentInner__33c9M {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: calc(100vh - 5em);
}

@media (min-width: 850px) {
  .Dashboard_Dashboard__contentInner__33c9M {
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .Dashboard_Dashboard__notifications__aPQRF {
    padding: 0 2em;
  }
}
